.about {
  position: relative;
  color: #666666;

  &::before {
    position: absolute;
    top: 5px;
    left: -14px;
    width: 220px;
    height: 317px;
    background: url("../img/2005-desktop.png") no-repeat 0 0;
    content: "";
  }
}

.about__title {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
}

.about__text {
  margin: 0;
  margin-bottom: 20px;
  padding-right: 10px;
}

.about__more {
  display: block;
  box-sizing: border-box;
  margin-top: 40px;
  padding: 14px 20px;
  max-width: 180px;
  outline: none;
  border: 1px solid #00b2ff;
  border-radius: 5px;
  color: #00b2ff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  &:hover,
  &:focus {
    background-color: #00b2ff;
    color: #ffffff;
  }

  &:active {
    background-color: #006b99;
    color: #00b2ff;
  }
}

@media (max-width: $tablet-width) {
  .about {
    &::before {
      top: -2px;
      left: -25px;
      width: 244px;
      height: 362px;
      background: url("../img/2005-tablet.png") no-repeat 0 0;
    }
  }

  .about__title {
    margin-top: 26px;
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 45px;
  }

  .about__text {
    padding-left: 2px;
  }

  .about__desktop-text {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .about {
    &::before {
      display: none;
    }
  }

  .about__title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 39px;
  }

  .about__text {
    margin-bottom: 40px;
    padding-right: 0;
  }

  .about__more {
    margin-top: -12px;
  }
}
