@media (max-width: $mobile-width) {
  .dropdown {
    position: relative;
  }

  .dropdown__checkbox-name {
    position: absolute;
    top: -11px;
    right: -9px;
    width: 36px;
    height: 36px;
    background: url("../img/icon-minus.svg") no-repeat 50% 50%;
    cursor: pointer;

    &:hover {
      outline: 2px solid #1b2d37;
    }

    &:active {
      outline: 2px solid #c4c4c4;
    }
  }

  .dropdown__checkbox:focus + .dropdown__checkbox-name {
    outline: 2px solid #1b2d37;
  }

  .dropdown__list {
    display: none;
    width: 100%;
  }

  .dropdown__checkbox:checked ~ .dropdown__list {
    display: block;
    width: 100%;
  }

  .dropdown__list li {
    width: 100%;
  }

  .dropdown__checkbox:checked + .dropdown__checkbox-name {
    background-image: url("../img/icon-plus.svg");
  }
}
