.dropdown__checkbox-name {
  display: none;
}

@media (max-width: $mobile-width) {
  .dropdown {
    position: relative;
  }

  .dropdown__checkbox-name {
    position: absolute;
    top: -11px;
    right: 7px;
    display: block;
    width: 36px;
    height: 36px;
    background: url("../img/icon-plus.svg") no-repeat 50% 50%;
    font-size: 0;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: 1px solid #c4c4c4;
    }

    &:active {
      outline: 1px solid #8c8c8c;
    }
  }

  .dropdown__checkbox:focus + .dropdown__checkbox-name {
    outline: 1px solid #8c8c8c;
  }

  .dropdown__list {
    display: none;
    width: 100%;
  }

  .dropdown__checkbox:checked ~ .dropdown__list {
    display: block;
    width: 100%;
  }

  .dropdown__checkbox:checked + .dropdown__checkbox-name {
    background-image: url("../img/icon-minus.svg");
  }
}
