.main__wrapper {
  background: #ffffff url("../img/main-bg-desktop.svg") no-repeat calc(50% - 125px) -28px;
}

.main__features {
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 112px;
  min-width: 1000px;
  max-width: 1186px;
  width: 62%;
}

.main__about {
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 75px;
  padding-bottom: 108px;
  padding-left: 197px;
  min-width: 1000px;
  max-width: 1186px;
  width: 62%;
}

.main__service {
  padding-bottom: 129px;
}

.main__write-us {
  padding-top: 91px;
  padding-bottom: 112px;
}

@media (max-width: $tablet-width) {
  .main__wrapper {
    background: #ffffff url("../img/main-bg-tablet.svg") no-repeat calc(50% + 364px) 90px;
  }

  .main__features {
    padding-top: 54px;
    min-width: 720px;
    width: 94%;
  }

  .main__about {
    margin-top: 0;
    padding-bottom: 85px;
    padding-left: 185px;
    min-width: 720px;
    width: 94%;
  }

  .main__service {
    padding-bottom: 31px;
  }

  .main__write-us {
    padding-top: 80px;
    padding-bottom: 104px;
  }
}

@media (max-width: $mobile-width) {
  .main__wrapper {
    background: #ffffff url("../img/main-bg-mobile.svg") no-repeat calc(50% + 258px) calc(50% + 150px);
  }

  .main__features {
    padding-top: 40px;
    min-width: 290px;
    width: 90%;
  }

  .main__about {
    padding-bottom: 65px;
    padding-left: 0;
    min-width: 290px;
    width: 90%;
  }

  .main__service {
    padding-bottom: 34px;
  }

  .main__write-us {
    padding-top: 30px;
    padding-bottom: 41px;
  }
}
