.main-footer {
  position: relative;
  background: #fafafa;

  &::after {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(98, 105, 98, 0.2);
    content: "";
  }
}

.main-footer__wrapper {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1430px;
  width: 75%;
}

.main-footer__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.main-footer__logo {
  flex-shrink: 0;
  padding-left: 7px;
  height: 52px;
  outline: none;
}

.main-footer__logo:hover .main-footer__logo-image,
.main-footer__logo:focus .main-footer__logo-image {
  opacity: 0.8;
}

.main-footer__logo:active .main-footer__logo-image {
  opacity: 0.5;
}

.main-footer__social {
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
  margin-left: 8px;
  width: 112px;
}

.main-footer__social-wrapper {
  display: flex;
  flex-direction: column;
}

.main-footer__contacts {
  flex-shrink: 1;
  padding-right: 2px;
}

.main-footer__bottom {
  display: flex;
  flex-wrap: wrap;
  color: #1b2d37;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 13px;
  line-height: 24px;
}

.main-footer__bottom a {
  color: #1b2d37;
  text-decoration: none;
}

.main-footer__copyright {
  margin-right: 4.9%;
  padding-left: 5px;
  min-width: 150px;
  width: 11%;
  opacity: 0.5;
}

.main-footer__year {
  color: #1b2d37;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 13px;
  line-height: 24px;
  opacity: 0.5;

  &--tablet {
    display: none;
  }

  &--desktop {
    margin-right: 6.5%;
    min-width: 240px;
    width: 19.7%;
  }
}

.main-footer__privacy {
  opacity: 0.5;
}

.main-footer__privacy-link {
  outline: none;

  &:hover,
  &:focus {
    color: #00b2ff;
  }

  &:active {
    color: #000000;
  }
}

.main-footer__developer {
  margin-right: 10px;
  margin-left: auto;
  opacity: 0.5;
}

.main-footer__developer-link {
  outline: none;

  &:hover,
  &:focus {
    color: #00b2ff;
  }

  &:active {
    color: #000000;
  }
}


.main-footer__navigation {
  margin-right: 20px;
  width: 30.8%;
}


@media (max-width: $tablet-width) {
  .main-footer {
    position: relative;
    background: #fafafa;

    &::after {
      bottom: 68px;
    }

    &::before {
      position: absolute;
      top: 97px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(98, 105, 98, 0.2);
      content: "";
    }
  }

  .main-footer__wrapper {
    min-width: 720px;
    width: 94%;
  }

  .main-footer__logo {
    margin-top: 1px;
    margin-right: 87px;
    margin-left: 2px;
    padding-left: 0;
  }

  .main-footer__social-wrapper {
    position: relative;
    flex-direction: row;
    flex-grow: 1;
    padding-bottom: 24px;
    min-width: 720px;
  }

  .main-footer__year {
    margin-right: 0;

    &--tablet {
      display: block;
      padding-top: 5px;
    }

    &--desktop {
      display: none;
    }
  }

  .main-footer__social {
    margin-top: 14px;
    margin-left: auto;
  }

  .main-footer__navigation {
    margin-top: 38px;
    margin-right: auto;
    padding-left: 2px;
    width: auto;
  }

  .main-footer__contacts {
    margin-top: 38px;
    padding-right: 4px;
    min-width: 335px;
  }

  .main-footer__top {
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 37px;
  }

  .main-footer__copyright {
    display: none;
  }

  .main-footer__privacy {
    margin-left: 4px;
  }

  .main-footer__developer {
    margin-right: 3px;
  }

  .main-footer__bottom {
    margin-top: 8px;
    padding-bottom: 10px;
  }
}

@media (max-width: $mobile-width) {
  .main-footer {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .main-footer__wrapper {
    min-width: 290px;
    width: 100%;
  }

  .main-footer__social-wrapper {
    align-items: center;
    flex-direction: column;
    padding-bottom: 56px;
    min-width: 290px;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(98, 105, 98, 0.2);
      content: "";
    }
  }

  .main-footer__top {
    flex-direction: column;
    padding-bottom: 28px;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(98, 105, 98, 0.2);
      content: "";
    }
  }

  .main-footer__logo {
    margin-right: 0;
  }

  .main-footer__social {
    margin-top: 18px;
    margin-left: 0;
  }

  .main-footer__year {
    padding-top: 13px;
  }

  .main-footer__navigation {
    position: relative;
    margin-top: 30px;
    margin-right: 0;
    padding-bottom: 28px;
    padding-left: 15px;
    min-width: 270px;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(98, 105, 98, 0.2);
      content: "";
    }
  }

  .main-footer__contacts {
    margin-top: 27px;
    padding-left: 15px;
    min-width: 270px;
  }

  .main-footer__bottom {
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
  }

  .main-footer__developer {
    margin-top: 8px;
    margin-left: 0;
  }
}

