.service {
  background-color: #1b2d37;
}

.service__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 89px;
  padding-left: 6px;
  min-width: 1000px;
  max-width: 1186px;
  width: 62%;
}

.service__text {
  margin: 0;
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  line-height: 51px;
}

.service__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 21px;
  margin-right: 6px;
}

.service__item {
  margin-top: 30px;
  margin-right: 2.7%;
  width: 31.5%;
  background: #1b2d37 no-repeat 50% 50%;
  background-size: cover;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &--production {
    background-image: url("../img/screen-production-desktop.png");
    background-size: cover;
  }

  &--install {
    background-image: url("../img/screen-install-desktop.png");
    background-size: cover;
  }

  &--light {
    background-image: url("../img/screen-light-desktop.png");
    background-size: cover;
  }
}

.service__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-top: 50px;
  padding-left: 46px;
  min-height: 620px;
  outline: none;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 63px;
    height: 63px;
    background: #00b2ff url("../img/icon-arrow.svg") no-repeat 50% 50%;
    content: "";
  }

  &:hover::after,
  &:focus::after {
    background-color: #006b99;
  }

  &:hover::before,
  &:focus::before {
    position: absolute;
    top: -10px;
    left: -3%;
    width: 106%;
    height: 640px;
    border: 3px solid #00b2ff;
    content: "";
  }

  &:active::before {
    border: 3px solid #006b99;
  }
}

@media (max-width: $tablet-width) {
  .service__wrapper {
    padding-top: 50px;
    padding-left: 0;
    min-width: 715px;
    width: 93%;
  }

  .service__text {
    margin-left: -2px;
    width: 630px;
    font-size: 32px;
    line-height: 45px;
  }

  .service__list {
    flex-direction: column;
    margin-top: 19px;
    margin-right: 2px;
  }

  .service__item {
    margin-bottom: 16px;
    width: 100%;

    &--production {
      background-image: url("../img/screen-production-tablet.png");
    }

    &--install {
      background-image: url("../img/screen-install-tablet.png");
    }

    &--light {
      background-image: url("../img/screen-light-tablet.png");
    }
  }

  .service__link {
    padding-top: 39px;
    padding-left: 42px;
    min-height: 256px;

    &:hover::before,
    &:focus::before {
      left: -1%;
      width: 102%;
      height: 276px;
    }
  }
}

@media (max-width: $mobile-width) {
  .service__wrapper {
    padding-top: 50px;
    min-width: 290px;
    width: 90%;
  }

  .service__text {
    padding-left: 12px;
    width: 280px;
    font-size: 28px;
    line-height: 39px;
  }

  .service__list {
    margin-top: 12px;
    margin-right: 0;
  }

  .service__item {
    margin-bottom: 0;

    &--production {
      background-image: url("../img/screen-production-mobile.png");
    }

    &--install {
      background-image: url("../img/screen-install-mobile.png");
    }

    &--light {
      background-image: url("../img/screen-light-mobile.png");
    }
  }

  .service__link {
    padding-top: 20px;
    padding-left: 35px;

    &::after {
      height: 63px;
    }
  }
}
