.write-us {
  background: #00b2ff no-repeat;
  background-image: url("../../img/paper-airplane.png"), url("../../img/write-bg-desktop.svg");
  background-position: 350px 160px, 175px -60px;
  color: #ffffff;
}

.write-us__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 629px;
  width: 1220px;
}

.write-us__lead {
  margin: 0;
  font-size: 36px;
  line-height: 51px;
}

.write-us__text {
  margin-top: 10px;
  margin-left: 5px;
}

.write-us__letter {
  width: 570px;
}

@media (max-width: $tablet-width) {
  .write-us {
    background-image: none;
  }

  .write-us__wrapper {
    padding-left: 0;
    width: 590px;
  }

  .write-us__lead {
    font-size: 32px;
    line-height: 45px;
  }

  .write-us__text {
    margin-top: 16px;
  }

  .write-us__letter {
    width: 590px;
  }
}

@media (max-width: $mobile-width) {
  .write-us__wrapper {
    width: 290px;
  }

  .write-us__lead {
    font-size: 28px;
    line-height: 39px;
  }

  .write-us__text {
    margin-top: 13px;
    margin-bottom: 10px;
    margin-left: 0;
  }

  .write-us__letter {
    width: 290px;
  }
}
