.write-us {
  background: #00b2ff no-repeat;
  background-image: url("../img/paper-airplane.png"), url("../img/write-bg-desktop.svg");
  background-position: calc(70% - 638px) 161px, calc(70% + 53px) -60px;
  color: #ffffff;
}

.write-us__wrapper {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1220px;
  width: 64%;
}

.write-us__lead {
  margin: 0;
  margin-top: -18px;
  margin-left: -3px;
  font-size: 36px;
  line-height: 51px;
}

.write-us__text {
  margin-top: 10px;
  margin-bottom: 34px;
  margin-left: 1px;
}

.write-us__letter {
  margin-right: 28px;
  margin-left: auto;
  width: 570px;
}

@media (max-width: $tablet-width) {
  .write-us {
    background-image: none;
  }

  .write-us__wrapper {
    padding-left: 0;
    width: 77%;
  }

  .write-us__lead {
    font-size: 32px;
    line-height: 45px;
  }

  .write-us__text {
    margin-top: 15px;
    margin-bottom: 38px;
    min-width: 500px;
  }

  .write-us__letter {
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .write-us__wrapper {
    width: 91%;
  }

  .write-us__lead {
    margin-top: 0;
    margin-left: 0;
    font-size: 28px;
    line-height: 39px;
  }

  .write-us__text {
    margin-top: 13px;
    margin-bottom: 10px;
    margin-left: 0;
    min-width: 280px;
  }
}
